@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Mountains+of+Christmas:wght@400;700&display=swap');

#header {
    background-color: #243e7d;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

#app {
    background: url('../../media/kerst/achtergrond.jpg') no-repeat center bottom !important;
    background-size: cover !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Iceberg", sans-serif !important;
}

h1,
h2 {
    color: #fdffff !important;
}

#header * {
    color: #fdffff !important;
    font-family: "Mountains of Christmas", serif !important;
    font-weight: 700;
}

#time {
    text-align: end;
    width: 200px;
}

#ice {
    background: url('../../media/kerst/ijspegels.png');
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 80px;
}

.snowflakes_body {
    top: 125px !important;
}

#app {
    background-color: #fdffff;
}