@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Underdog&display=swap');

* {
    font-family: "Underdog", system-ui !important;
}

h1, h2 {
    font-family: "Creepster", system-ui !important;
}

h1,h2, #time, footer , footer .text-muted {
    color: #ff6d00 !important;
}

#time {
    font-family: "Underdog", system-ui !important;
}

#app {
    background: url("/media/hallloween.png") no-repeat center center;
    background-size: cover;
}