#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f1f2f6;
}

body {
    overflow: hidden;
}

#events .card-img-top {
    height: 200px;
    object-fit: cover;
}

* {
    font-family: "Ubuntu", sans-serif !important;
    font-size: 20px;
}

.text-light {
    color: #f1f2f6 !important
}

/* .card, .table, tr, td {
    background-color: #f1f2f6 !important;
} */

.event-full-width .card-img-top {
    height: 300px !important;
}

#roosters .card-body div * {
    font-size: 24px !important;
}